@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Poppins:wght@100;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  /* background-color: #fff; */
  /* border-radius: 10px; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  width: 650px;
  /* max-width: 100%; */
  /* overflow: hidden; */
}

.header {

  display: flex;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  margin: 1rem 0;
  cursor: pointer;
  padding: 1rem 2rem;
  position: relative;
  /* border-bottom: 1px solid #f1f1f1; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

.header .title,
.header .content {
  color: #212a3c;
}

.open {
  border-top: 4px solid #0875f5;
}

.icon {
  font-size: 2rem;
  position: absolute;
  right: 20px;
  top: 10px;
}

.content {
  display: none;
}

.header.open {
  display: flex;
  flex-direction: column;
}

.header.open .content {
  display: block;
}
